
    .typewriter h1{
    color:white;
    overflow: hidden;
    border-right:.15em solid red;
    white-space: nowrap;
    margin:0 auto;
    letter-spacing:.15em;
    animation: typing 3.5s steps(30,end),
    blink-caret .5 step-end infinite;
    }
    @keyframes typing{
        from { 
            width:0
        }
        to{
            width:100%
        }
    }
    @keyframes blink-caret{
        from,to{
            border-color: transparent;
        }
        50%{
            border-color: red;
        }
    }
    
